@import url("https://fonts.googleapis.com/css?family=Alfa+Slab+One&display=swap");
.Brand {
  font-family: "Alfa Slab One", cursive;
  font-size: 200%;
}

@import url("https://fonts.googleapis.com/css?family=Raleway&display=swap");
.Nav{
    font-family: 'Raleway', sans-serif;
}