.App {
  text-align: center;
  background: url("/congruent_pentagon.png");
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  min-height: 100%;
  width: 100%;

  /* remove bottom scrollbar on clubs page */
  overflow-x: hidden;

  margin: 0;

/* background-color: transparent; */
}

body, html {
height: 100%;
margin: 0;
}

.carousel {
  width:800px;
  height:300px;
  margin: auto;
}


