.App {
  text-align: center;
}

.carousel {
  width:800px;
  height:300px;
  margin: auto;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
