.App {
  text-align: center;
  background: url("/congruent_pentagon.png");
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  /* important so if no or little content, footer gets pushed down (bc its on index page) */
  min-height: 110%;
  width: 100%;
  margin: 0;

  /* display: grid; */
  /* grid-template-rows: auto auto auto; */
}

/* .site-footer  {
  grid-row-start: 3;
  grid-row-end: -1;
} */



.carousel {
  width:800px;
  height:300px;
  margin: auto;
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }

  
}

